<app-header></app-header>

<div class="contenido">
    <div *ngIf="pelicula" class="card">
        <div class="imagen-pelicula">
          <img [src]="pelicula.url" id="imagen-pelicula">
        </div>
        <div class="seccion-info">
          <div class="info-pelicula">
            <h3>Título: <span class="texto">{{pelicula.titulo}}</span> </h3>
            <h3>Sala: <span class="texto">{{pelicula.Sala}}</span></h3>
            <h3>Hora: <span class="texto">{{pelicula.Hora}}</span></h3>
            <h3>Edad mínima: <span class="texto">{{pelicula.edad_min}} años</span></h3>
            <div *ngIf="sala">
              <h3>Cantidad de asientos disponibles: <span class="texto">{{sala.cantidad_asientos}}</span></h3>
              <h3 *ngIf="pelicula.edad_min < 18">Cantidad niños: <input id="input-cantidad-ninos" type="number" class="input-field" [(ngModel)]="cantidadNinos" name="input-cantidad-ninos" placeholder="" min="0" max={{sala.cantidad_asientos}}> </h3>
              <h3>Cantidad Adultos: <input id="input-cantidad-adultos" type="number" class="input-field" [(ngModel)]="cantidadAdultos" name="input-cantidad-adultos" placeholder="" min="0" max={{sala.cantidad_asientos}}> </h3>
              <h3>Cantidad Adultos Mayores: <input id="input-cantidad-adultos-mayores" type="number" class="input-field" [(ngModel)]="cantidadAdultosMayores" name="input-cantidad-adultos-mayores" placeholder="" min="0" max={{sala.cantidad_asientos}}> </h3>
                


              <div class="asientos">
                  <div class="pantalla">
                    <div class="pantalla-box">
                      <p>Pantalla</p>
                    </div>
                  </div>

                  <div class="butacas">
                      <button *ngFor="let butaca of colorsArray; let i = index" class="butacas-asiento" [style.background-color]="colorsArray[i]" (click)="cambiarColor(i)"> {{i+1}}</button>
                  </div>
      
                  <div class="leyenda">
                    <div class="caja-gris"></div> <p>Disponible</p>
                    <div class="caja-roja"></div> <p>Reservado</p>
                    <div class="caja-verde"></div> <p>Seleccionado</p>
                  </div>
      
                  <div class="asientos-seleccionados">
                    <!-- <h3>Asientos Seleccionados: <span class="texto"></span></h3> -->
                  </div>
              </div>
  
            </div>
            
            <div class="aviso">
                <p *ngIf="aviso">{{aviso}}</p>
            </div>

          </div>
          <div class="botones-compra">
            <button class="boton-compra" (click)="validarEntradas()">
              <p>Añadir al Carrito</p>
            </button>
          </div>
  
      </div>
      </div>
</div>