@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.contenido {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #18599c;
}

#filtro {
    position: relative;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 75px;
    background-color: #FFCD34;
    border: 0px;
    border-radius: 20px;
}

#filtro:hover {
    background-color: #c09925;
}

.contenido .grid {
    position: relative;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-gap: 1.5rem;
    justify-content: center;
}

.contenido .card {
    background-color: #092541;
    width: 360px;
    height: 550px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.contenido .grid button:hover {
    background-color: #144c85;
} 

.contenido .grid .card img {
    margin-top: 35px;
    position: relative;
    width: 90%;
    height: 400px;
}

.contenido .grid .card p {
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.filtros {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-around;
}

.switch .texto {
    position: relative;
    top: 50px;
    left: -50%;
}

.menufiltros {
    height: 100vh;
}

/*SWITCH*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }