@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.contenido {
    width: 100%;
    height: 100vh;
    background-color: #18599c;
}

.contenido .caja {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid #FFCD34;
    border-radius: 20px;
}

.contenido .caja .titulo img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.contenido .caja p{
    text-align: center;
    position: relative;
    font-size: 64px;
}

.contenido .caja .formulario-login {
    background-color: rgba(148, 20, 20, 0);
    position: relative;
    width: 100%;
    height: 60%;
}

.contenido .caja .formulario-login .input {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    width: 90%;
    background-color: #ffcc3400;
}

.contenido .caja .formulario-login .input label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.contenido .caja .formulario-login .input input {
    display: block;
    width: 100%;
    height: 70px;
    border-radius: 40px;
    color: black;
    text-align: center;
}

.contenido .caja .formulario-login .input input::-webkit-input-placeholder {
    text-align: center;
}

.contenido .caja button {
    position: relative;
    left: 50%;
    top: -70px;
    transform: translateX(-50%);
    width: 300px;
    height: 70px;
    border-radius: 40px;
    border: 1px solid grey;
    background-color: #FFCD34;
}

.contenido .caja button:hover {
    background-color: #c09925;
}

.contenido .caja .formulario-login .enlaces{
    text-align: center;
}

.contenido .caja .formulario-login .enlaces a {
    cursor: pointer;
    text-decoration: underline;
    position: relative;
    font-size: 20px;
}