@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.contenido {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #18599c;
}

.card {
    position: relative;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1000px;
    background-color: #092541;
}

.card img {
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
}

.card .info-pelicula {
    position: relative;
    top: 100px;
    left: 0px;
    width: 50%;
    background-color: rgba(172, 27, 27, 0);
}

.card .info-pelicula h3 {
    margin-bottom: 25px;
    position: relative;
    margin-left: 50px;
    margin-right: 25px;
    color: #FFCD34;
}

.card .botones-compra {
    background-color: rgba(0, 255, 255, 0);
}

.card .botones-compra button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 70px;
    border-radius: 40px;
    border: 1px solid grey;
    background-color: #FFCD34;
}

.card input {
    width: 425px;
    color: black;
}

.card .botones-compra button:hover {
    background-color: #c09925;
}

.aviso p{
    margin-left: 50px;
    margin-top: 120px;
    color: rgb(148, 7, 7);
}